html, body {
  height: 100%;
  width: 100%;
	/*background: url(background.jpg);*/
  /*background-size: 100% 100%;*/
  overflow: hidden;
}

#cover {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 7fr;
	grid-template-areas:
		'nav'
		'main'
	;
}

/* Delete this */
#mained {
	grid-area: main;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
/* 		'top top' */
		'left right'
	;
}
.navbar-brand, .navbar-menu {
	width: auto;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}

div {
	display: flex;
	justify-content: center;
	width: 100%;
}

#naver {
	grid-area: nav;
	height: fit-content;
}

/* .top {
	grid-area: top;
} */

#figure {
  display: flex;
  justify-content: center;
}

.left-stuff {
	max-width: 400px;
	grid-area: left;
}

.right-stuff {
	grid-area: right;
}

nav {
  display: flex;
  align-content: flex-end;
}

ul li {
  display: inline;
  list-style: none;
  border: 2px solid black;
  padding: 5px;
}

ul li a {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: flex-end;
}

input {
  width: 75%;
  height: 25%;
  margin-bottom: 20px;
  font-size: 45px;
}

h1 {
  font-size: 3vw;
  text-align: center;
}

h2 {
  font-size: 2vw;
}

p {
  font-size: 20px;
}

#main-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*width: 30vw;*/
  margin: 10vh 0 25vh 0;
  align-items: center;
  /*margin-right: 15vw;*/
  background-color: white;
}

#result-section {
  margin-left: 20px;
  margin-right: 20px;
}

/* buttton styling from https://getcssscan.com/css-buttons-examples */

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 1024px) {
	nav {
	    display: flex;
	    justify-content: center;
	}
}

/* Delete this */
@media screen and (max-width: 800px) {
	#mained {
		grid-template-columns: 1fr;
		grid-template-areas: 
			'top'
			'left'
			'right'
		;
	}
	
	#main-section {
		width: 100%;
		margin: 0;
	}
}

#planeimg{
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
